{% load get %}
{% load date_tag %}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">{{ type|upper }} Instances</h3>

        <div class="box-tools">

        </div>

    </div>
    <div class="box-body">
        <table id="instances_table" class="table table-bordered table-striped responsive" style="width:100%">
            <thead>
            <tr>
                <th>Identifier</th>
                <th>VNFD</th>
                <th>Member Index</th>
                <th>NS</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
