.skin-purple .sidebar-menu > li.menu-open > a {
  color: #b8c7ce !important;
  background: #1e282c;
}

.help-key {
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 3px;
    background: #f6f6f6;
    font-family: Courier, monospace;
    box-shadow: #999 1px 1px 1px;
}