{% load staticfiles %}
{% load get %}
<div class="col-md-12">

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
            </h3>
            <div class="box-tools">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal_new_package_name_chooser" >
                <i class="fa fa-paint-brush"></i> <span> Compose a new {{ package_type|upper }}</span></button>
                </div>
            </div>
        </div>
        <div class="box-body">
            <table id="descriptors_table" class="table table-bordered table-striped dataTable"
                   role="grid">
                <thead>
                <tr role="row">
                    <th>Short Name</th>
                    <th>Identifier</th>
                    <th>
                        <select name="type" id="type_vnf" class="form-control">
                        <option value="">Type</option>
                        <option value="vnfd">VNF</option>
                        <option value="pnfd">PNF</option>
                        <option value="hnfd">HNF</option>
                        </select>
                    </th>
                    <th>Description</th>
                    <th style="width:10%">Vendor</th>
                    <th style="width:5%">Version</th>
                    <th style="width:35%">Actions</th>
                </tr>
                </thead>
                <tbody>

                </tbody>

            </table>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="box box-solid">
        <div class="box-body">

            <div class="upload-drop-zone" id="drop-zone">
               <i class="fa fa-upload"></i> Just drag and drop files here
            </div>
        </div>
    </div>
</div>

